
.icon-credit-card:before { content: '\e800'; } /* '' */
.icon-info-circled-1:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */